<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>내 정보</title>
</head>

<body>

<main layout:fragment="main">
    <div class="stats stats-vertical shadow max-w-2xl">

        <div class="stat">
            <div class="stat-title">아이디</div>
            <div th:text="${@rq.member.username}"></div>
        </div>

        <div class="stat">
            <div class="stat-title">가입날짜</div>
            <div th:text="${#temporals.format(@rq.member.createDate, 'yyyy-MM-dd HH:mm')}"></div>
        </div>

        <div class="stat">
            <div class="stat-title">수정날짜</div>
            <div th:text="${#temporals.format(@rq.member.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
        </div>

    </div>
</main>


</body>

</html>

