<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>내 정보</title>
</head>

<body>

<main layout:fragment="main">
    <div class="p-10 max-w-md flex flex-col gap-4">
        <div class="stats stats-vertical shadow max-w-2xl">

            <div class="stat">
                <div class="stat-title text-xl"><i class="fa-solid fa-user mr-2"></i>내 정보</div>
            </div>

            <div class="stat">
                <div class="stat-title">아이디</div>
                <div th:text="${@rq.member.username}"></div>
            </div>

            <div class="stat">
                <div class="stat-title">가입날짜</div>
                <div th:text="${#temporals.format(@rq.member.createDate, 'yyyy-MM-dd HH:mm')}"></div>
            </div>

            <div class="stat">
                <div class="stat-title">수정날짜</div>
                <div th:text="${#temporals.format(@rq.member.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
            </div>

        </div>
    </div>

</main>


</body>

</html>

